<head>
  <link
    rel="stylesheet"
    href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"
  />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <!--Google Fonts-->
</head>
<body>
<div class="header">
  <p>ADMIN</p>
</div>
<div class="second">
  <p class="title">Drivers Admin</p>
  <div class="btn-box">
    <a (click)="openDriverDialog()" class="btn">+ Add Driver</a>
  </div>
</div>
<!--Nombres y apellidos |N° licencia|Clase|Fecha Revalt.|Domicilio|Estado actual|Placa vehiculo|N° telefono-->
<div class="container">
  <div class="tab">
    <div class="tab_box">
      <button class="tab_btn" (click)="toggleTab(0, $event)" [class.active]="activeTab === 0">All Drivers</button>
      <button class="tab_btn" (click)="toggleTab(1, $event)" [class.active]="activeTab === 1">Valid</button>
      <button class="tab_btn" (click)="toggleTab(2, $event)" [class.active]="activeTab === 2">Invalid</button>
      <div class="line" #line></div> <!-- Added line element with reference -->
    </div>
  </div>
  <div class="content_box">
    <div class="content" *ngIf="tabContentsVisibility[0]" [ngClass]="{ 'active': tabContentsVisibility[0] }">
      <table mat-table [dataSource]="allDriversDataSource" class="mat-elevation-z8" style="font-family: 'Poppins', sans-serif;">
      <ng-container matColumnDef="name_lastname">
        <th mat-header-cell *matHeaderCellDef class="th-column" style="color: #228CE8FF;"> Nombre Completo </th>
        <td mat-cell *matCellDef="let element" class="td-column" style="color: #5A5A5A;"> {{element.prop_nombre + ' ' + element.prop_apellidos}} </td>
      </ng-container>

      <ng-container matColumnDef="n_licencia">
        <th mat-header-cell *matHeaderCellDef class="th-column2" style="color: #A5A5A5;"> N° licencia </th>
        <td mat-cell *matCellDef="let element" class="td-column2" style="color: #5A5A5A;"> {{element.prop_licencia}} </td>
      </ng-container>

      <ng-container matColumnDef="class">
        <th mat-header-cell *matHeaderCellDef class="th-column2" style="color: #A5A5A5;"> Categoria </th>
        <td mat-cell *matCellDef="let element" class="td-column2" style="color: #5A5A5A;"> {{element.prop_categoria}} </td>
      </ng-container>

      <ng-container matColumnDef="revalt_date">
        <th mat-header-cell *matHeaderCellDef class="th-column2" style="color: #A5A5A5;"> Fecha Revalt. </th>
        <td mat-cell *matCellDef="let element" class="td-column2" style="color: #5A5A5A;"> {{element.prop_fecha_revalidacion}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="th-columnb">  </th>
        <td mat-cell *matCellDef="let element" class="td-columnb">
          <button class="logo" (click)="openDriverDialog(element)"><i class='bx bxs-pencil'></i></button>
          <button class="logo2" (click)="deleteDriver(element)"><i class='bx bx-trash'></i></button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
    </div>
    <div class="content" *ngIf="tabContentsVisibility[1]" [ngClass]="{ 'active': tabContentsVisibility[1] }">
      <table mat-table [dataSource]="validDriversDataSource" class="mat-elevation-z8" style="font-family: 'Poppins', sans-serif;">
        <ng-container matColumnDef="name_lastname">
          <th mat-header-cell *matHeaderCellDef class="th-column" style="color: #228CE8FF;"> Nombre Completo </th>
          <td mat-cell *matCellDef="let element" class="td-column" style="color: #5A5A5A;"> {{element.prop_nombre + ' ' + element.prop_apellidos}} </td>
        </ng-container>

        <ng-container matColumnDef="n_licencia">
          <th mat-header-cell *matHeaderCellDef class="th-column2" style="color: #A5A5A5;"> N° licencia </th>
          <td mat-cell *matCellDef="let element" class="td-column2" style="color: #5A5A5A;"> {{element.prop_licencia}} </td>
        </ng-container>

        <ng-container matColumnDef="class">
          <th mat-header-cell *matHeaderCellDef class="th-column2" style="color: #A5A5A5;"> Categoria </th>
          <td mat-cell *matCellDef="let element" class="td-column2" style="color: #5A5A5A;"> {{element.prop_categoria}} </td>
        </ng-container>

        <ng-container matColumnDef="revalt_date">
          <th mat-header-cell *matHeaderCellDef class="th-column2" style="color: #A5A5A5;"> Fecha Revalt. </th>
          <td mat-cell *matCellDef="let element" class="td-column2" style="color: #5A5A5A;"> {{element.prop_fecha_revalidacion}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="th-columnb">  </th>
          <td mat-cell *matCellDef="let element" class="td-columnb">
            <button class="logo" (click)="openDriverDialog(element)"><i class='bx bxs-pencil'></i></button>
            <button class="logo2" (click)="deleteDriver(element)"><i class='bx bx-trash'></i></button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
    </div>
    <div class="content" *ngIf="tabContentsVisibility[2]" [ngClass]="{ 'active': tabContentsVisibility[2] }">
      <table mat-table [dataSource]="invalidDriversDataSource" class="mat-elevation-z8" style="font-family: 'Poppins', sans-serif;">
        <ng-container matColumnDef="name_lastname">
          <th mat-header-cell *matHeaderCellDef class="th-column" style="color: #228CE8FF;"> Nombre Completo </th>
          <td mat-cell *matCellDef="let element" class="td-column" style="color: #5A5A5A;"> {{element.prop_nombre + ' ' + element.prop_apellidos}} </td>
        </ng-container>

        <ng-container matColumnDef="n_licencia">
          <th mat-header-cell *matHeaderCellDef class="th-column2" style="color: #A5A5A5;"> N° licencia </th>
          <td mat-cell *matCellDef="let element" class="td-column2" style="color: #5A5A5A;"> {{element.prop_licencia}} </td>
        </ng-container>

        <ng-container matColumnDef="class">
          <th mat-header-cell *matHeaderCellDef class="th-column2" style="color: #A5A5A5;"> Categoria </th>
          <td mat-cell *matCellDef="let element" class="td-column2" style="color: #5A5A5A;"> {{element.prop_categoria}} </td>
        </ng-container>

        <ng-container matColumnDef="revalt_date">
          <th mat-header-cell *matHeaderCellDef class="th-column2" style="color: #A5A5A5;"> Fecha Revalt. </th>
          <td mat-cell *matCellDef="let element" class="td-column2" style="color: #5A5A5A;"> {{element.prop_fecha_revalidacion}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="th-columnb">  </th>
          <td mat-cell *matCellDef="let element" class="td-columnb">
            <button class="logo" (click)="openDriverDialog(element)"><i class='bx bxs-pencil'></i></button>
            <button class="logo2" (click)="deleteDriver(element)"><i class='bx bx-trash'></i></button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
</body>
