<head>
  <link
    rel="stylesheet"
    href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"
  />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <!--Google Fonts-->
</head>
<body>
  <header>
    <a class="logo"><i class="bx bxs-circle"></i>Villa Bellavista</a>
    <ul class="nav-list">
      <li><a [routerLink]="'/home'">Home</a></li>
      <li><a [routerLink]="'/register'">Join</a></li>
    </ul>
  </header>

  <section class="home" id="home">
    <div class="home-text">
      <div class="text-one">Welcome back</div>
      <div class="text-two"> <a>
        <br />
        Login to your account<span>.</span>
      </a>
      </div>
      <div class="text-three">
        <br />
        Don't have an account?
        <span><a [routerLink]="'/register'" class="su">Sign Up</a></span
        ><br />
      </div>

    <form [formGroup]="userFormGroup">

      <div class="input-box">
        <input class="username" type="text" formControlName="email" required />
        <label class="lbl-input">
          <span class="text-input">Email</span>
        </label>
        <i class="bx bxs-envelope"></i>
      </div>

      <div class="input-box">
        <input class="password" id="password" type="password" formControlName="password" required />
        <label class="lbl-input">
          <span class="text-input">Password</span>
        </label>
        <i
          class="bx bxs-lock-alt"
          id="lock"
          (click)="togglePasswordVisibility()"
        >
        </i>
      </div>

    </form>

      <div class="btn-box">
        <a (click)="login()" class="btn">Login account</a>
      </div>
    </div>
  </section>
</body>
