<head>
  <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <!--Google Fonts-->
</head>
<body>
<header>
  <a class="logo"><i class='bx bxs-circle'></i>Bellavista</a>
  <ul class="nav-list">
    <li><a [routerLink]="'/home'">Home</a></li>
    <li><a [routerLink]="'/register'">Join</a></li>
  </ul>
</header>
<section class="home" id="home">
  <div class="home-text">
    <div class="text-one">Welcome back</div>
    <div class="text-two"><br> Login to your account<span>.</span></div>
    <div class="text-three"><br> Don't have an account? <span><a [routerLink]="'/register'" class="su">Sign Up</a></span><br></div>
    <!-- voy a intentar hacer esta parte de los input con el angular material, pero ta cagado :u -->
    <div class="input-box">
      <input class="username" type="text" required>
      <label class="lbl-input">
        <span class="text-input">Email</span>
      </label>
      <i class='bx bxs-envelope'></i>
    </div>
    <div class="input-box">
      <input class="password" id="password" type="password" required>
      <label class="lbl-input">
        <span class="text-input">Password</span>
      </label>
      <i class='bx bxs-lock-alt' id="lock" (click)="togglePasswordVisibility()"> </i>
    </div>
    <div class="btn-box">
    <a  [routerLink]="''" class="btn">Login account</a>
    </div>
  </div>
</section>

</body>

<!-- PD: falta el responsive ... eso lo hago al final :D -->
<!-- PD1: antes de que me patees, ya se que el navbar es otro componente,
solo me dio weba sacarlo y conectarlo y eso, si puedes hazlo tu que me da pereza -->
<!-- PD2: Sabes por que el body no se extiende por completo? i mean,
cuando lo achico salen margenes blancos, creo que es cosa de angular, wa investigar-->
<!-- PD3: ya se que no puse muchos materials de angular, pero es que son bien feos firme p,
osea los puedo modificar pero que pereza firme, de todas formas voy a tratar de cambiarlos-->
<!-- PD4: por si no te diste cuenta le falta el label superior cuando los input estan
en focus, ando viendo eso, es que esta tedioso el codigo, por ahora lo dejo asi :D-->



