body{
  background-color: #F7F7F7;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}
.header{
  width: auto;
  height: 6rem;
  background-color: white;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  color: #959494;
  font-size: 1.1rem;
  font-weight: 500;
}
.second{
  width: auto;
  height: 6rem;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
  color: #4A4A4A;
  font-size: 1.2rem;
  justify-content: space-between;
}
.title{
  color: #7E7E7E;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 2rem;
}
.container{
  width: auto;
  height: auto;
}
.tab {
  width: 100%;
  border-bottom: 2px solid rgba(229, 229, 229);
}
.tab_box{
  margin-left: 1.5rem;
  width: 23rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  font-weight: 600;
  position: relative;
}
.tab_box .tab_btn{
  font-size: 18px;
  font-weight: 600;
  padding: 1.5rem 1.5rem 0.5rem;
  border: none;
  color: #C1C1C1;
  background: none;
}
.tab_box .tab_btn.active{
  color: #726E6E;
}
.content_box{
  margin-left: 3rem;
  margin-top: 2rem;
  margin-right: 3rem;
}
.content_box .content{
  display: none;
}
.content_box .content.active{
  display: block;
}
.content_box .content h2{
  margin-bottom: 10px;
}
.line{
  position: absolute;
  top:51px;
  left: 1.875rem;
  width: 10rem;
  height: 3px;
  background-color: var(--second-color);
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.white-container{
  width: auto;
  height: auto;
  background-color: white;
  padding: 2rem 4rem;
  margin: 2rem 4rem;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.chart-container .balance-info {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.chart-container .balance-item {
  text-align: center;
  margin-right: 6rem;
}
.chart-container .balance-item span{
  display: block;
  margin-bottom: 0.4rem;
}
.chart-container .balance-amount {
  font-size: 1.5rem;
  font-weight: 400;
  color: #726E6E;
}
.chart-container .balance-label {
  font-size: 0.875rem;
  font-weight: 500;
  color: #979393;
}
.chart-container .chart-title{
  font-size: 1.125rem;
  font-weight: 500;
  color: #726E6E;
}
/* responsive */
@media (max-width: 1100px) {
  .white-container{
    padding: 2rem 2rem;
    margin: 1rem 1rem;
  }
}

@media (max-width: 900px) {
  .white-container{
    padding: 1.5rem 2rem;
  }
  .chart-container .balance-label{
    font-size: 0.65rem;
  }
  .chart-container .balance-amount{
    font-size: 1.2rem;
  }
  .chart-container .balance-item {
    margin-right: 3rem;
  }
  .chart-container .chart-title{
    font-size: 1rem;
  }
}
