<head>
  <link
    rel="stylesheet"
    href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"
  />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <!--Google Fonts-->
</head>
<body>
<div class="header">
  <p>ADMIN</p>
</div>
<div class="second">
  <p class="title">Graphics</p>
</div>
<div class="container">
  <div class="tab">
    <div class="tab_box">
      <button class="tab_btn" (click)="toggleTab(0, $event)" [class.active]="activeTab === 0">Most Importants</button>
      <button class="tab_btn" (click)="toggleTab(1, $event)" [class.active]="activeTab === 1">Others</button>
      <div class="line" #line></div> <!-- Added line element with reference -->
    </div>
  </div>
  <div class="content_box">
    <div class="content" *ngIf="tabContentsVisibility[0]" [ngClass]="{ 'active': tabContentsVisibility[0] }">
      <div class="white-container">
        <div class="chart-container">
          <span class="chart-title">Balance Stadistics</span>
          <div class="balance-info">
            <div class="balance-item">
              <span class="balance-amount">S/400.00</span>
              <span class="balance-label">Current Balance</span>
            </div>
            <div class="balance-item">
              <span class="balance-amount">S/200.00</span>
              <span class="balance-label">Cost Balance</span>
            </div>
          </div>
          <canvas baseChart
                  [datasets]="chartData2.datasets"
                  [labels]="chartData2.labels"
                  [type]="chartType2"
                  [options]="chartOptions2"
                  style="max-height: 15rem;max-width: 100%; overflow: hidden;">
          </canvas>
        </div>
      </div>

    </div>
    <div class="content" *ngIf="tabContentsVisibility[1]" [ngClass]="{ 'active': tabContentsVisibility[1] }">
      <div class="white-container">
        <div class="chart-container">
          <canvas baseChart
                  [datasets]="chartData.datasets"
                  [labels]="chartData.labels"
                  [type]="chartType"
                  style="max-height: 100%; overflow: hidden;">
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

