.dialog-container {
  min-width: 350px;
  margin: 0 auto;
}

.custom-title-container {
  background-color: #228ce8;
  width: 100%;
  text-align: center;
}

.custom-title {
  font-size: 1rem; /* Ajusta el tamaño del título según tus preferencias */
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 0;
  color: var(--text-color);
}

.mat-dialog-content.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container .input-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-container .input-row label {
  font-size: 1rem; /* Ajusta el tamaño de la etiqueta del campo */
  color: var(--extra-color);
  margin-bottom: 1px;
  margin-top: 3px;
}

.input-container .input-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-container .input-row label {
  font-size: 1rem;
  color: var(--extra-color);
  margin-bottom: 1px;
}
.custom-input {
  width: 95%;
  padding: 10px;
  border: 1.6px solid var(--main-color);
  border-radius: 5px;
  background-color: var(--text-color);
  color: var(--other-color);
  font-size: 0.8rem;
  font-weight: 400;
  margin-top: 1px;
  transition: border-color 0.2s ease;
  margin-bottom: 1px;
}

.custom-input:focus {
  border-color: var(--second-color);
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

.button-wrapper .custom-button {
  width: 50%;
  padding: 24px 10px;
  font-size: 0.8rem;
  color: white; /* Color del texto blanco */
  border: none;
  border-radius: 0;
  cursor: pointer;
  font-weight: 400;
  transition: background-color 0.3s ease;
}
.cancel-button {
  background-color: var(--bg-color);/* Color para el botón Cancelar */
}

.save-button {
  background-color: #3a3c48; /* Color para el botón Guardar */
}

.button-wrapper .custom-button:hover {
  background-color: var(--extra-color); /* Cambia el color de fondo al pasar el ratón */
  color: #282A37;
}
.error-message {
  color: darkred;
  font-size: 0.8rem;
  font-weight: 300;
  margin-top: -0.1rem;
  margin-bottom: -0.3rem;
  font-family: 'Montserrat', sans-serif;
}
