<div fxLayout="column" fxLayoutAlign="center center">
  <h2 mat-dialog-title>{{ isEditMode ? 'Editar' : 'Añadir Nuevo' }} Vehicle</h2>
</div>

<!--placa propietario cat marca modelo añof serie asientos color carroceria motor-->
<!--[ 'plate', 'owner', 'category', 'brand', 'model', 'year', 'serie', 'seats', 'color', 'bodywork', 'engine', 'actions'];-->

<div mat-dialog-content class="input-container" style="font-family: 'Poppins', sans-serif; font-size: 0.8rem;">
  <div class="input-row">
    <p>Placa:</p>
    <input [(ngModel)]="editedVehicle.veh_placa" />
  </div>
  <div class="input-row">
    <p>Propietario:</p>
    <mat-select>
      <mat-option *ngFor="let driver of arrayOwners" [value]="driver">
        {{driver}}
      </mat-option>
    </mat-select>
  </div>
  <div class="input-row">
    <p>Cat:</p>
    <input [(ngModel)]="editedVehicle.veh_categoria" />
  </div>
  <div class="input-row">
    <p>Marca:</p>
    <input [(ngModel)]="editedVehicle.veh_marca" />
  </div>
  <div class="input-row">
    <p>Modelo:</p>
    <input [(ngModel)]="editedVehicle.veh_modelo" />
  </div>
  <div class="input-row">
    <p>Año fab:</p>
    <input [(ngModel)]="editedVehicle.veh_anio_fabricacion" />
  </div>
  <div class="input-row">
    <p>Destino:</p>
    <mat-select>
      <mat-option *ngFor="let dest of arrayDestination" [value]="dest">
        {{dest}}
      </mat-option>
    </mat-select>
  </div>
  <div class="input-row">
    <p>N° asientos:</p>
    <input [(ngModel)]="editedVehicle.veh_nro_asientos" />
  </div>

</div>
<div class="button-container">
  <div class="button-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <button mat-button class="custom-button" fxFlex (click)="onCancel()" style="background-color: #228CE8FF; color: white;">Cancelar</button>
    <button mat-button class="custom-button" fxFlex color="primary" (click)="onSave()" style="background-color: #228CE8FF; color: white;">
      {{ isEditMode ? 'Guardar' : 'Añadir' }}
    </button>
  </div>
</div>
