<link
  rel="stylesheet"
  href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"
/>
<div class="sidenav" [ngClass]="collapse?'sidenav-collapsed':''">
  <div class="logo-container">
    <button class="logo" (click)="toggleCollapse()">B</button>
    <div class="logo-text" *ngIf="collapse">ellavista</div>
   <!-- <button class="btn-close" *ngIf="collapse" (click)="closeSidenav()">
      <i class='bx bx-x'></i>
    </button> -->
  </div>
  <ul class="sidenav-nav">
    <li class="sidenav-nav-item" *ngFor="let data of filteredNavbarItems">
      <a class="sidenav-nav-link" [routerLink]="[data.routerLink]">
        <i class="sidenav-link-icon" [class]="data.icon"></i>
        <span class="sidenav-link-text" *ngIf="collapse">{{data.label}}</span>
      </a>
    </li>
  </ul>
</div>
