/* Establecer el contenedor de la columna como un flex container */
.mat-dialog-content.input-container {
  display: flex;
  flex-direction: column;
}

/* Alinear los elementos en la columna */
.input-container .input-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Espacio entre los campos de entrada */
}

/* Estilo adicional para los nombres del campo */
.input-container .input-row p {
  margin: 0; /* Eliminar márgenes predeterminados para los párrafos */
  min-width: 150px; /* Ancho mínimo para los nombres del campo para alinearlos uniformemente */
}
/* Envoltorio de los botones */
.button-wrapper {
  padding: 20px;
  display: flex;
  justify-content: center;
  width: 100%; /* Establecer el ancho para asegurar que los botones tengan un ancho homogéneo */
}

/* Estilo para el espacio entre los botones */
.button-wrapper .custom-button:not(:first-child) {
  margin-left: 10px; /* Espacio entre los botones */
}
h2.mat-dialog-title {
  text-align: center;
}
