<div class="dialog-container">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div class="custom-title-container">
      <h2 mat-dialog-title class="custom-title">{{ isEditMode ? 'Editar' : 'Añadir' }} Ticket</h2>
    </div>
  </div>
  <div mat-dialog-content class="input-container">
    <div class="input-row">
      <label for="tic_placa">N° Placa:</label>
      <mat-select id="tic_placa" [(ngModel)]="editedDeparture.tic_placa" class="custom-input">
        <mat-option *ngFor="let veh of vehiculoPlacas" [value]="veh">
          {{ veh }}
        </mat-option>
      </mat-select>
    </div>
  </div>
  <div class="button-container">
    <div class="button-wrapper" fxLayout="row" fxLayoutAlign="center center">
      <button mat-button class="custom-button cancel-button" fxFlex (click)="onCancel()">Cancelar</button>
      <button mat-button class="custom-button save-button" fxFlex color="primary" (click)="onSave()">
        {{ isEditMode ? 'Guardar' : 'Añadir' }}
      </button>
    </div>
  </div>
</div>
